<h1>When to unsubscribe in Angular</h1>
<h2>Examples</h2>
<ul>
  <li>
    <a [routerLink]="RoutingLinks.emptyComponent">Empty component</a>
  </li>
  <li>
    <a [routerLink]="RoutingLinks.rxjsTimer">RxJS infinite timer</a>
  </li>
  <li>
    <a [routerLink]="RoutingLinks.rxjsTimerComplete">RxJS finite timer</a>
  </li>
  <li>
    <a [routerLink]="RoutingLinks.httpClient">Angular HttpClient</a>
  </li>
  <li>
    <a [routerLink]="RoutingLinks.paramMap" [queryParams]="{'queryParam': 'queryParamTest'}">
      Angular Router ParamMap (queryParam)
    </a>
  </li>
  <li>
    <a [routerLink]="[RoutingLinks.paramMap, 'paramTest']" [queryParams]="{'queryParam': 'queryParamTest'}">
      Angular Router ParamMap with (param and queryParam)
    </a>
  </li>
  <li>
    <a [routerLink]="RoutingLinks.routerEvents">Angular router events</a>
  </li>
  <li>
    <a [routerLink]="RoutingLinks.componentTree">Component tree</a>
  </li>
</ul>
<h2>Unsubscription methods</h2>
<ul>
  <li>
    <a [routerLink]="RoutingLinks.unsubscriptionUntilDestroyed">Unsubscribe with untilDestroyed</a>
  </li>
  <li>
    <a [routerLink]="RoutingLinks.unsubscriptionTakeUntilDestroyed">Unsubscribe with takeUntilDestroyed</a>
  </li>
  <li>
    <a [routerLink]="RoutingLinks.unsubscriptionTakeUntil">Unsubscribe with takeUntil</a>
  </li>
  <li>
    <a [routerLink]="RoutingLinks.unsubscriptionGather">Unsubscribe with subscription gathering</a>
  </li>
  <li>
    <a [routerLink]="RoutingLinks.unsubscriptionAsyncPipe">Async pipe</a>
  </li>
</ul>
<hr>
<router-outlet></router-outlet>
