<h1>Example Angular app with two routes</h1>
<ul>
  <li>
    <a [routerLink]="RoutingLinks.emptyComponent">Empty component</a>
  </li>
  <li>
    <a [routerLink]="RoutingLinks.rxjsTimer">RxJS infinite timer</a>
  </li>
  <li>
    <a [routerLink]="RoutingLinks.rxjsTimerComplete">RxJS finite timer</a>
  </li>
  <li>
    <a [routerLink]="RoutingLinks.httpClient">Angular HttpClient</a>
  </li>
  <li>
    <a [routerLink]="RoutingLinks.paramMap" [queryParams]="{'queryParam': 'queryParamTest'}">
      Angular Router ParamMap (queryParam)
    </a>
  </li>
  <li>
    <a [routerLink]="[RoutingLinks.paramMap, 'paramTest']" [queryParams]="{'queryParam': 'queryParamTest'}">
      Angular Router ParamMap with (param and queryParam)
    </a>
  </li>
  <li>
    <a [routerLink]="RoutingLinks.routerEvents">Angular router events</a>
  </li>
</ul>
<hr>
<router-outlet></router-outlet>
